/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #fff8f3, #fff8f3);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-family: 'arial', sans-serif;
    text-align: center;
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

a {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #003366;
}

/* Form Styles */
form {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    padding: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    transform: perspective(1000px) rotateX(5deg);
    transition: transform 0.5s ease;
}

form:hover {
    transform: perspective(1000px) rotateX(0deg);
}

label {
    font-size: 1rem;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border: 1px solid #ff9a9e;
    box-shadow: 0 0 10px rgba(255, 154, 158, 0.8), inset 0px 4px 6px rgba(0, 0, 0, 0.2);
    outline: none;
}

button {
    padding: 10px 15px;
    font-size: 1rem;
    color: #fff;
    background: linear-gradient(120deg, #1a1b29, #1a1b29);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: linear-gradient(120deg,  #ceb09a, #ceb09a);
    transform: scale(1.05);
}

button:active {
    background: linear-gradient(120deg, #d32f2f, #e57373);
}

p {
    text-align: center;
    color:#6a6a6a;
    font-size: 0.9rem;
    margin-top: 20px;
}

form, button {
    transform-style: preserve-3d;
}

button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateZ(-1px);
    transition: opacity 0.3s ease;
    opacity: 0;
}

button:hover:before {
    opacity: 1;
}
